body {
    font-family: "Open Sans", sans-serif;
    background-color: #f7f6f2;
}

* {
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-image: url(img/hamburger.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.navbar {
    font-family: serif;
    background-color: white;
    padding: 10px 15px;
}

.navdiv {
    font-family: serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {
    list-style: none;
    display: inline-block;
}

li a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
}

.pos_center1, .pos_center2 {
    font-family: serif;
    width: 80%;
    margin: 50px auto;
    overflow: auto;
    padding: 15px;
}

.img_food1 {
    float: left;
    width: 45%;
    margin-right: 20px;
}

.text1{
    text-align: center;
}

.img_food2 {
    float: right;
    width: 44%;
    margin-left: 20px;
}

.text2{
    text-align: center;
}

.footer {
    font-family: serif;
    background-color: #f4f4f4;
    padding: 75px;
    margin-top: 50px;
}

.field {
    margin-bottom: 15px;
}

input, textarea {
    width: 100%;
    padding: 10px;
}

button {
    padding: 10px 15px;
    background-color: rgb(223, 223, 223);
    color: black;
    border: none;
    cursor: pointer;
}
